.CounterOutput {
    width: 100%;
    color: black;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.btn{
    font-size: 19px;
    background-color: white;
    padding: 20px;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 2px 1px 1px black;
    cursor: pointer;
}

.btn:hover{
    background-color: gray;
    border: none;
}

li{
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}

li:hover{
    color: grey;
}

body{
    background-color: #ffa;
}